<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/getAllFolderStyles.css">
    <title>Practica SSDD - Parte 1</title>
    <script>
        function confirmRemoval(name, id) {
            const confirmation = confirm("Are you sure you want to remove " + name + " book ?");
            if (confirmation) {
                window.location.href = "books/" + id + "/remove";
            }
        }
    </script>
</head>
<body>
    <header class="site-header">
        <a class="back-button" href="/">Menu</a>
        <h1 class="page-title">[ BOOKS ]</h1>
    </header>
    <ul class="entity-list">
        {{#books}}
        <li class="entity-item">
            <div class="entity-properties-container">
                <p class="property-tag">TITLE</p>
                <p class="property">{{title}}</p>
                <p class="property-tag">AUTHOR</p>
                <p class="property">{{author}}</p>
            </div>
            <div class="details-remove-container">
                <a class="details-entity" href="books/{{id}}">
                    <svg width="40px" height="40px" viewBox="-102.4 -102.4 1228.80 1228.80" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="0" />
                        <g stroke-linecap="round" stroke-linejoin="round" />
                        <g>
                            <path stroke-width="0.01024" d="M320 89.6h640v76.8H320V89.6z m0 768h640v76.8H320v-76.8z m-256-768h128v76.8H64V89.6z m256 384h640v76.8H320V473.6z m-256 0h128v76.8H64V473.6z m0 384h128v76.8H64v-76.8z" fill="#fff8f0ff" />
                        </g>
                    </svg>
                </a>
                <a class="remove-entity" href="books/{{id}}/remove" onclick="confirmRemoval('{{title}}', '{{id}}'); return false;">
                    <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" stroke="#fff8f0ff" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="0" />
                        <g stroke-linecap="round" stroke-linejoin="round" />
                        <g>
                            <path d="M20.5001 6H3.5" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M9.5 11L10 16" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M14.5 11L14 16" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6" stroke-width="1.5" />
                            <path d="M18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5M18.8334 8.5L18.6334 11.5" stroke-width="1.5" stroke-linecap="round" />
                        </g>
                    </svg>
                </a>
            </div>
        </li>
        {{/books}}
        <a class="add-new-item" href="/books/create-book">
            <svg width="80px" height="80px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g stroke-width="0"/>
                <g stroke-linecap="round" stroke-linejoin="round"/>
                <g> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z" fill="#fff8f0ff"/> </g>
            </svg>
            <p>
                Add new item
            </p>
        </a>
    </ul>
</body>
</html>