<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">  
  <link rel="stylesheet" href="/css/createEditStyle.css">  
  <title>Practica SSDD - Parte 1</title>
</head>
<body>
  <header class="site-header">
    <a class="back-button" href="/libraries/{{library.id}}">Cancel</a>
    <h1 class="page-title">[ EDITING <span class="entity-identifier">{{library.name}}</span> LIBRARY ]</h1>
  </header>
  <form class="entity-form" class="form" action="/libraries/{{library.id}}/edit-library" method="post" onSubmit="return validateForm()">
    <ul class="inputs-container">
      <li class="property-input-container">
        <input class="property-input" type="text" id="name" name="name" placeholder="NAME" required autocomplete="off" value="{{library.name}}">
      </li>
      <li class="property-input-container">
        <input class="property-input" type="email" id="email" name="email" placeholder="EMAIL" required autocomplete="off" value="{{library.email}}">
      </li>
      <li class="property-input-container">
        <input class="property-input" type="text" id="address" name="address" placeholder="ADDRESS" required autocomplete="off" value="{{library.address}}">
      </li>
    </ul>

    <div class="selectors-container">
      <div class="many-selector">
        <button class="select-many-button" type="button">SELECT BOOKS </button>
        <div class="many-container">
          {{#existingBooks}}
            <label class="cb-entity">
              <input type="checkbox" name="selectedBooks" value="{{id}}">{{title}}
            </label>
          {{/existingBooks}}
        </div>
      </div>
    </div>

    <button class="submit-btn" type="submit">EDIT</button>
  </form>
  <script src="/scripts/checkEmail.js"></script>
</body>
</html>