<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/errorStyle.css">
    <title>Practica SSDD - Parte 1</title>
</head>
<body>
    <header class="site-header">
        <a class="back-button" href="/">Main Menu</a>
        <h1 class="page-title">[ ERROR: {{error}} ({{status}}) ]</h1>
    </header>
    <img class="error-img" src="https://http.cat/images/{{status}}.jpg" alt="{{error}}"/>
</body>
</html>