<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mainMenuStyle.css">
    <title>Practica SSDD - Parte 1</title>
</head>
<body>
    <ul class="entities-list">
        <li>
            <a class="entity-link" href="/libraries">
                <img src="/images/library.png" alt="library"/>
                <span class="entity-name">LIBRARIES</span>
            </a>
            <div class="bg-icons-container">
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
                <img class="entity-icon-bg" src="/images/library.png" alt="library-bg"/>
            </div>
        </li>
        <li>
            <a class="entity-link" href="/books">
                <img src="/images/books.png" alt="books"/>
                <span class="entity-name">BOOKS</span>
            </a>
            <div class="bg-icons-container">
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
                <img class="entity-icon-bg" src="/images/books.png" alt="books-bg"/>
            </div>
        </li>
        <li>
            <a class="entity-link" href="/students">
                <img src="/images/student.png" alt="student"/>
                <span class="entity-name">STUDENTS</span>
            </a>
            <div class="bg-icons-container">
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
                <img class="entity-icon-bg" src="/images/student.png" alt="student-bg"/>
            </div>
        </li>
    </ul>
</body>
</html>
